<div class="container">

  <!-- heade -->
    <div class="row">
        <div class="col-12">
            <section id="hero">
                <div class="pt1">
                    <h1>La seguridad que tu empresa necesita, está en nuestros sellos.</h1>
                    <br>
                    <p>Proteja sus Bienes y Cargas con Precintos, Cinchos y Sellos de Seguridad inviolables. <span>Certificados por el C-TPAT e ISO 17712.</span> Envíos a toda la República Mexicana.</p>
                </div>
                <video muted autoplay loop>
                    <source src="https://storage.builderall.com//franquias/2/7058328/editor-html/10521958.mp4" type="video/mp4"><source>
                </video>
                <div class="capa"></div>
            </section>


            <!-- Button trigger modal -->
            <div class="boton-modal mt-5">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                <i class="uil uil-angle-right"></i> SOLICITA UNA COTIZACIÓN
              </button>             
            </div>
            <hr class="mt-5">
            
            <!-- Modal -->
            <div class="modal fade ventana-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title fs-5" id="staticBackdropLabel"><span>ESTAMOS LISTOS PARA AYUDARTE!</span></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                          <div class="row formulario p-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="https://formsubmit.co/carlosmontielbernal@gmail.com" method="POST">
                                            <div class="form-floating mb-2">
                                                <input type="text" class="form-control" name="nombre" id="" placeholder="Escribe tu(s) nombre(s)" required>
                                                <label for="nombre"><i class="uil uil-user"></i> Nombre(s):</label>
                                            </div>
                                            <div class="form-floating mb-2">
                                                <input type="mail" class="form-control" name="correo" id="" placeholder="Escribe tu(s) correo(s)" required>
                                                <label for="correo"><i class="uil uil-envelope-alt"></i> Correo electrónico:</label>
                                            </div>
                                            <div class="form-floating mb-2">
                                                <input type="text" class="form-control" name="asunto" id="" placeholder="Escribe tu(s) asunto(s)" required>
                                                <label for="asunto"><i class="uil uil-question-circle"></i> Cómo podemos ayudarte?</label>
                                            </div>
                                            <div class="form-floating mb-2">
                                                <input type="number" class="form-control" name="whatsApp" id="" placeholder="Escribe tu(s) whatsApp(s)" required>
                                                <label for="whatsApp"><i class="uil uil-whatsapp"></i> Número de whatsApp</label>
                                            </div>
                                            <div class="boton-enviar-modal">
                                                <button type="submit">Enviar</button>
                                            </div>
                            
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary cerrar" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- cards -->
    <div class="row categorias mt-5 mb-5">
        <div class="col-12">
            <div class="encabezado-cards">
                <h2>Sellos de seguridad</h2>
                <p>Contamos con categorias especiales que respaldan y aseguran cada envío de tu empresa. Tu mercacía asegurada con los sellos de seguridad especificos para cada necesidad. ¡Sellos que son seguros! ¡Conocenos!</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/1.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Los sellos de seguridad de plástico son usados como indicativos y para control debido a que el folio grabado le agrega esta función, aparte de ser muy seguros e inviolables.</p>
                    <a class="btn btn-outline-dark d-grid" href="https://web.qualityseal.com.mx/productos#plastic" target="_blank">Ver categoría</a>
                </div>
            </div>            
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/2.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Estos pueden ser fabricados con cuerpos de acero o de plástico y su resistencia depende del grosor del cable y del mecanismo que se encuentro dentro del cuerpo del sello de seguridad.</p>
                    <a class="btn btn-outline-dark d-grid sticky-button" href="https://web.qualityseal.com.mx/productos#cable" target="_blank">Ver categoría</a>
                </div>
            </div>  
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/3.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Sellos de seguridad para camiones, contenedores y más aplicaciones. Estos sellos o precintos son conocidos como perno, clavo y barril.</p>
                    <a class="btn btn-outline-dark d-grid" href="https://web.qualityseal.com.mx/productos#perno" target="_blank">Ver categoría</a>
                </div>
            </div>  
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/4.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Sellos de seguridad o precintos para medidores de agua, luz, gas u otras aplicaciones. Estos sellos son muy versatiles e inviolables.</p>
                    <a class="btn btn-outline-dark d-grid" href="https://web.qualityseal.com.mx/productos#medicion" target="_blank">Ver categoría</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/5.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Estos sellos son utilizados principalmente en los contenedores de carga. Están fabricados por una delgada lámina de acero, altamente flexible y su mecanismo oculto de seguridad los hace inviolables</p>
                    <a class="btn btn-outline-dark d-grid" href="https://web.qualityseal.com.mx/productos#metalicos" target="_blank">Ver categoría</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-3">
            <div class="card card-box">
                <img class="card-img-top" src="../../../assets/img/6.jpg" alt="">
                <div class="card-body">
                    <p class="card-text">Nuestros sujetables y pinzas, son diseñados y creados para garantizar la seguridad de tus envíos. Con nuestros sujetables y pinzas ¡seguro que tu mercancía está segura!</p>
                    <a class="btn btn-outline-dark d-grid" href="https://web.qualityseal.com.mx/productos#pinzas" target="_blank">Ver categoría</a>
                </div>
            </div>
        </div>

    </div>
    <hr class="mt-5">


    <!-- Accordion -->
    <div class="row seguridad mt-5 mb-5">

        <div class="col-12">
          <div class="bazzoka">
            <h2>Bazooka Anti-Clonación</h2>
            <h5>Detalles generales del sello</h5>
            <img src="../../../assets/img/bazzoka.png" alt="">
          </div>            
        </div>

        <div class="col-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <h5>Dimensiones</h5>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul><li><span>LONGITUD:</span> Bóveda a punta: 260 mm y punta a punta: 322 mm</li></ul>
                        <ul><li><span>CIRCUNFERENCIA:</span> 205 mm</li></ul>
                        <ul><li><span>AREA DE IDENTIFICACION:</span> 23.6 x 44 mm</li></ul>
                        <ul><li><span>ANCHO DE LA BANDA:</span> 6.17 mm</li></ul>
                        <ul><li><span>DIMENSIONES DE LA BOVEDA:</span> 15.1 x 17.2 mm</li></ul>
                        <ul><li><span>ALTURA DE LA BOVEDA:</span> 6.8 mm</li></ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      <h5>Identificación</h5>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul><li><span>TATOO PRINT.:</span> Numeración consecutiva de hasta 10 dígitos y nombre del cliente.</li></ul>
                      <ul><li><span>IAS10:</span> Numeración consecutiva de hasta 8 dígitos, código de barras, logo, fecha y lote.</li></ul>
                      <ul><li><span>HOT STAMPING:</span> Numeración consecutiva de hasta 7 dígitos y logo.</li></ul>
                      <ul><li><span>LASER:</span> Numeración consecutiva de hasta 10 dígitos y nombre del cliente.</li></ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      <h5>Embalaje</h5>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul><li><span>OPCION 1: </span> 1,000 piezas.<br>
                      <p>
                        - Bolsa de polietileno con 100pzas. Cada una, identificadas con nombre y numeración.<br>
                        - Caja de cartón con 10 bolsas.<br>
                        - Dimensiones de la caja: 550x390x240mm</p></li></ul>
                        <ul><li><span>OPCION 2: </span> 5,000 piezas. <br>
                          <p>
                            - Bolsa de polietileno con 100pzas. Cada una, identificadas con nombre y numeración.<br>
                            - Caja de cartón con 50 bolsas.<br>
                            - Dimensiones de la caja: 500X500X720mm
                          </p></li></ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h5>Colores</h5>
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="colores-acordeon">

                          <div class="colorcrcl color-verde"></div>
                          <div class="colorcrcl color-rojo"></div>
                          <div class="colorcrcl color-blanco"></div>
                          <div class="colorcrcl color-azul"></div>
                          <div class="colorcrcl color-amarillo"></div>
                          <div class="colorcrcl color-negro"></div>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>


    <!-- Nosotros -->
    <div class="nosotros p-5">
      <div class="row">
        <div class="col-12 col-lg-4 ns-content pb-5">

          <h2><span>Sobre Nosotros</span></h2>
          <p>Nos dedicamos a la fabricación y comercialización de bolsas, etiquetas y sellos de seguridad desde hace más de 30 años. En muy pocos años logramos consolidar el prestigio de ser una de las empresas más serias y profesionales en el ámbito de la seguridad industrial y prevención de pérdidas en el mercado.</p>

          <a class="btn-sbrms" href="https://web.qualityseal.com.mx/sobre-la-empresa" target="_blank">
            <i class="uil uil-angle-right"></i> Saber más
          </a>

        </div>

        <div class="col-12 col-lg-8 ns-img">
          <img src="../../../assets/img/nosotros.jpg" alt="">
        </div>

      </div>
    </div>

    <!-- whatsapp msn -->
    <div class="pb-5">
      <div class="row">
        <div class="col-12 msn-content">
          <h4>¡TENEMOS PROMOCIONES DISPONIBLES! <br>
            SOLICITA LOS DETALLES POR WHATSAPP</h4>
          <div class="row">
            <div class="col-12">
              <a class="btn-wsp" href="https://api.whatsapp.com/send?phone=7711951900" target="_blank">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
                <span class="span4"></span>
                <i class="uil uil-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>


</div>