<div class="container">

    <div class="row pt-5">
        <div class="texto">
            <h2 class="pb-5">Sellos de Plástico</h2>
        </div>
    </div>

    <div class="row content-cards p-5">        
<!-- 1 -->
        <div class="col-md-12 col-lg-6 pb-5">
            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-1.jpg" alt="">
                    <h3>Gladiator</h3>                                        
                </div>
                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente.<br>
                        Inserto metálico.<br>
                        Material que acusa cualquier intento de violación.<br>
                        Soldado por ultrasonido.<br>
                        Material antiestático.<br>
                        Intrínsecamente seguro.<br>
                        No acepta pegamentos de contacto.
                    </p>                    
                    <div class="link">
                        <a type="button" href="https://web.qualityseal.com.mx/gladiator" target="_blank">Detalles</a>
                    </div>    
                </div>
            </div>
        </div>
<!-- 2 -->
        <div class=" col-md-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-2.jpg" alt="">
                    <h3>Gladiator Premium I</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente.<br>
                        Inserto metálico.<br>
                        Material que acusa cualquier intento de violación.<br>
                        Soldado por ultrasonido.<br>
                        Material antiestático.<br>
                        Intrínsecamente seguro.<br>
                        No acepta pegamentos de contacto.</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/gladiator-premium-i" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 3 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-3.jpg" alt="">
                    <h3>Gladiator Premium II</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Doble inserto metálico.<br>
                        Material que acusa cualquier intento de violación.<br>
                        Soldado por ultrasonido.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Intrínsecamente seguro.<br>
                        No acepta pegamentos de contacto.</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/gladiator-premium-ii" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 4 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-4.jpg" alt="">
                    <h3>Bazooka</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Intrínsecamente seguro.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/bazooka-nivel-i" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 5 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-5.jpg" alt="">
                    <h3>Bazooka Anti-Clonación</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/bazooka-nivel-ll" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 6 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-6.jpg" alt="">
                    <h3>Iron plastic premium</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/iron-plastic-premium" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 7 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-7.jpg" alt="">
                    <h3>Fly Seal</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/fly-seal" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 8 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-8.jpg" alt="">
                    <h3>Uzilock</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/uzilock" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
<!-- 9 -->
        <div class="col-12 col-lg-6 pb-5">


            <div class="card">
                <div class="cara frente">
                    <img src="../../../assets/img/product-9.jpg" alt="">
                    <h3>Heavy duty premium</h3>
                                        
                </div>

                <div class="cara atras">
                    <h3>Descripción</h3>
                    <p>Tapa transparente con labios testigos de violación.<br>
                        Banda graduada con grabados indicativos anti-manipulación<br>
                        Material que acusa cualquier intento de violación.<br>
                        Bóveda amurallada que da mayor seguridad.<br>
                        Colores anti-clonación opacos, traslucidos y con reacción a la luz uv</p>
                    
                    <div class="link">
                        <a href="https://web.qualityseal.com.mx/heavy-duty-premium" target="_blank">Detalles</a>
                    </div>
    
                </div>
            </div>
            

        </div>
        

    </div>
</div>