<!-- footer -->
<div class="container">
    <div class="row footer">

        <div class="col-sm-12 col-lg-4 columna pt-5">            
            <div class="logo">
                <img src="../../../assets/img/QS-footer.png" alt="">
            </div>
        </div>
        
        <div class="col-sm-12 col-lg-4 columna pt-5">
            <div class="contacto">
                <h5>INFORMACIÓN DE CONTACTO</h5>
                <p><i class="uil uil-envelope"></i> ventas@qualityseal.com.mx</p>
                <p><i class="uil uil-outgoing-call"></i> 55-1509-2633</p>
                <p><i class="uil uil-outgoing-call"></i> 55-1334-1389</p>
                <p><i class="uil uil-outgoing-call"></i> 55-1334-1417</p>
                <p><i class="uil uil-outgoing-call"></i> 55-1334-1405</p>
            </div>
        </div>
    
        <div class="col-sm-12 col-lg-4 columna pt-5">
            <div class="redes">
                <h5>VISITANOS EN REDES SOCIALES</h5>
                <div class="redes-logos">
                    <a href="https://www.facebook.com/groups/qualityseal" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCsglEYmcPCU7o5ZYC47H3Ow" target="_blank"><i class="uil uil-youtube"></i></a>
                    <a href=""><i class="uil uil-instagram"></i></a>
                </div>                
            </div>
        </div>
    
    </div>
</div>