<div class="container">
    <div class="row">
        <div class="col-12 p-5">
           <div class="panel">
            <h1>Solicita un plan personalizado, <br> según las necesidades de tu empresa</h1>
           </div>
        </div>
    </div>

<!-- formulario -->
    <div class="row formulario p-5">
        <div class="col-12 col-lg-6 encabezado">
            <h2>ESTAMOS LISTOS PARA AYUDARTE!</h2>
            <hr>
            <P>Para cotizaciones, consultas e información, no dudes en comunicarte con nosotros. Nuestros especialistas están listos para atenderte.</P>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="nombre" id="" placeholder="Escribe tu(s) nombre(s)" required>
                            <label for="nombre"><i class="uil uil-user"></i> Nombre(s):</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="mail" class="form-control" name="correo" id="" placeholder="Escribe tu(s) correo(s)" required>
                            <label for="correo"><i class="uil uil-envelope-alt"></i> Correo electrónico:</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="asunto" id="" placeholder="Escribe tu(s) asunto(s)" required>
                            <label for="asunto"><i class="uil uil-question-circle"></i> Cómo podemos ayudarte?</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="number" class="form-control" name="whatsApp" id="" placeholder="Escribe tu(s) whatsApp(s)" required>
                            <label for="whatsApp"><i class="uil uil-whatsapp"></i> Número de whatsApp</label>
                        </div>
                        <div class="boton-enviar">
                            <button type="submit">Enviar</button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>