<div class="container p-5 mb-5">

    <div class="row p-5">
        <div class="col-12 panel">
            <h2>Diseño de los sellos de seguridad
            </h2>
            <p>Diseño de los sellos de seguridad

                En Quality Seal, la calidad de nuestros sellos de seguridad, siempre es lo primero.<br> Para su fabricación, seguimos normas internacionales de calidad en términos de seguridad industrial.
            </p>

        </div>
    </div>


    <div class="row">
        <div class="col pb-5 container-cards">

            <div class="card box-disenio">
                <div class="capa-card">
                    <img src="../../../assets/img/d-1.png" alt="">
                </div>
                <h2>Un sello de seguridad específico para una necesidad específica.</h2>
                <p>En Quality Seal, el diseño de nuestros sellos de seguridad y de todos nuestros artículos de seguridad, comienza con la identificación de las necesidades de nuestros clientes. <br><br>
         
                    La idea inicial del marchamo, como también se le conoce al sello de seguridad, debe ser pensada para cubrir un propósito específico y posteriormente, debe ser transformada en un producto de alta seguridad industrial. Esto impulsa a nuestro grupo de diseñadores a la autoexigencia para desarrollar equipo de seguridad industrial con base en la experiencia y la precisión.</p>
            </div>
        </div>
        <div class="col pb-5 container-cards">

            <div class="card box-disenio">
                <div class="capa-card">
                    <img src="../../../assets/img/d-2.png" alt="">
                </div>
                <h2>¿Cómo diseñamos nuestro equipo de seguridad industrial?</h2>
                <p>Nuestros expertos técnicos dominan una amplia gama de destrezas en seguridad industrial y diseño. Gracias a ello, analizan cada proyecto desde los bosquejos, desarrollo CAD, modelado y prototipos para obtener los mejores resultados. Todo este esfuerzo se traduce en la satisfacción de nuestros clientes, al obtener un artículo de seguridad a su medida.<br><br>
            
                    El proceso de diseño comienza con la planificación del diseño y su desarrollo. Durante esta fase, se determinan las etapas y los controles que se deberán considerar más adelante.</p>
            </div>
            
        </div>
    </div>


    <div class="row p-5">
        <div class="col-12 panel">
            <h2>Solicita un plan personalizado, según las necesidades de tu empresa</h2>
            
            <!-- Button trigger modal -->
            <div class="boton-modal">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                  <i class="uil uil-angle-right"></i> SOLICITA UNA COTIZACIÓN
                </button>             
              </div>
              <hr class="mt-5">
              
              <!-- Modal -->
              <div class="modal fade ventana-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                          <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
  
                            <div class="row formulario p-2">
                              <div class="col-12">
                                  <div class="card content-card-form">
                                      <div class="card-body">
                                          <form action="https://formsubmit.co/carlosmontielbernal@gmail.com" method="POST">
                                              <div class="form-floating mb-2">
                                                  <input type="text" class="form-control" name="nombre" id="" placeholder="Escribe tu(s) nombre(s)" required>
                                                  <label for="nombre"><i class="uil uil-user"></i> Nombre(s):</label>
                                              </div>
                                              <div class="form-floating mb-2">
                                                  <input type="mail" class="form-control" name="correo" id="" placeholder="Escribe tu(s) correo(s)" required>
                                                  <label for="correo"><i class="uil uil-envelope-alt"></i> Correo electrónico:</label>
                                              </div>
                                              <div class="form-floating mb-2">
                                                  <input type="text" class="form-control" name="asunto" id="" placeholder="Escribe tu(s) asunto(s)" required>
                                                  <label for="asunto"><i class="uil uil-question-circle"></i> Cómo podemos ayudarte?</label>
                                              </div>
                                              <div class="form-floating mb-2">
                                                  <input type="number" class="form-control" name="whatsApp" id="" placeholder="Escribe tu(s) whatsApp(s)" required>
                                                  <label for="whatsApp"><i class="uil uil-whatsapp"></i> Número de whatsApp</label>
                                              </div>
                                              <div class="boton-enviar-modal">
                                                  <button class="btn btn-warning" type="submit">Enviar</button>
                                              </div>
                              
                                            </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-danger cerrar" data-bs-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
              
        </div>
    </div>
</div>